{% extends 'base.html' %}
{% load static %}

{% block title %}Let's talk! {% endblock %}

{% block window_title %}Chat with your mentor{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chat/style.css' %}">
{% endblock %}

{% block content %}
<div class="retro-container py-4">
    <div class="retro-row text-center py-2">
        {% if user.is_authenticated %}
        <div class="retro-col mx-auto">
            <h1 class="retro-header text-center">With which of your mentors would you like to have an instant chat?</h1>
            <select id="room-name-input" name="room_name" class="retro-dropdown">
                <option value="" disabled selected>-- Select a chat room --</option>
                {% if is_mentor %}
                    <option value="{{ request.user.username }}" style="font-weight: bold;">{{ request.user.first_name }} {{ request.user.last_name }}</option>
                {% endif %}
                {% for mentor in mentors %}
                    {% if mentor.available %}
                        <option value="{{ mentor.user.username }}">{{ mentor.user.first_name }} {{ mentor.user.last_name }}</option>
                    {% else %}
                        <option value="{{ mentor.user.username }}" disabled class="retro-option-disabled">{{ mentor.user.first_name }} {{ mentor.user.last_name }} (unavailable at the moment)</option>
                    {% endif %}
                {% empty %}
                    <option disabled>No mentors assigned!</option>
                {% endfor %}
            </select>
        </div>
        {% else %}
        <div id="not_allowed" class="retro-not-allowed mx-auto">
            <h1 class="retro-header pt-2">Oops! Page Not Found.</h1>
            <p class="retro-message">You must be logged in to access the chat service!</p>
            <a href="{% url 'home' %}" class="retro-btn" aria-label="Brings you back to Home Page">Back to Home page</a>
        </div>
        {% endif %}
    </div>
</div>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onchange = function(e) {
        roomName = document.querySelector('#room-name-input').value;
        console.log('Selected room: ', roomName); 
        if (roomName) {
            window.location.pathname = '/chat/' + roomName + '/';
        }
    };

    document.addEventListener("DOMContentLoaded", function () {
        const chatRoomDropdown = document.getElementById("room"); // Adjust the ID to match your dropdown's ID
        if (chatRoomDropdown) {
            chatRoomDropdown.selectedIndex = 0; // Resets to the first option
        }
    });
</script>
{% endblock %}