{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-100 mx-auto m-3 py-3">
    <div class="row text-center py-2">
        <div class="col-md-10 col-sm-12 col-xl-10 mx-auto">
            <h1 class="text-center pt-2">Oops! Page Not Found!</h1>
            <p class="text-center px-3">The chatroom you're looking for doesn't exist. Let's get you
                back to safety!</p>
            <a href="{% url 'chat' %}" class="btn btn-pink rounded mt-3 p-2"
                aria-label="Brings you back to chast selection page">Back to chat selection
                page</a>
        </div>
    </div>
</div>
{% endblock %}