{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row text-center py-2">
        {% if user.is_authenticated %}
        <div class="col-md-10 col-lg-8 mx-auto">
            <h1 class="text-center">With which of your mentors would you like to have an instant chat?</h1>
            <select id="room-name-input" name="room_name" class="py-2 w-100 rounded shadow">
                <option value="" disabled selected>-- Select a chat room --</option>
                {% if is_mentor %}
                    <!-- Display the mentor's own name in the dropdown or other special content -->
                    <option value="{{ request.user.id }}" selected>{{ request.user.first_name }} {{ request.user.last_name }}</option>
                {% endif %}
                {% for mentor in mentors %}
                    {% if mentor.available %}
                        <option value="{{ mentor.user.username }}">{{ mentor.user.first_name }} {{ mentor.user.last_name }}</option>
                    {% else %}
                        <option value="{{ mentor.user.username }}" disabled style="color: gray;">{{ mentor.user.first_name }} {{ mentor.user.last_name }} (unavailable at the moment)</option>
                    {% endif %}
                {% empty %}
                    <option disabled>No mentors assigned!</option>
                {% endfor %}
            </select>
        </div>
        {% else %}
        <div id="not_allowed" class="col-md-10 col-sm-12 col-xl-10 mx-auto">
            <h1 class="text-center pt-2">Oops! Page Not Found.</h1>
            <p class="text-center px-3">You must be logged in to access the chat service!</p>
            <a href="{% url 'home' %}" class="btn btn-pink rounded mt-3 p-2"
                aria-label="Brings you back to Home Page">Back to Home
                page
            </a>
        </div>
        {% endif %}
    </div>
</div>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onchange = function(e) {
        roomName = document.querySelector('#room-name-input').value;
        console.log('Selected room: ', roomName); 
        if (roomName) {
            window.location.pathname = '/chat/' + roomName + '/';
        }
    };

    document.addEventListener("DOMContentLoaded", function () {
        const chatRoomDropdown = document.getElementById("chat-room-dropdown"); // Adjust the ID to match your dropdown's ID
        if (chatRoomDropdown) {
            chatRoomDropdown.selectedIndex = 0; // Resets to the first option
        }
    });
</script>
{% endblock %}
