/* Affirmation Page Styles */

.title-bar-controls button {
    background-color: #FFB7C5;
    border: none;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.content {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #2D243F; 
    background-color: #FFF5E1; 
    color: #2D243F; 
    cursor: pointer;
}

.generate-btn {
    width: auto;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.affirmation {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #2D243F;
    background: linear-gradient(90deg, #E0B1CB, #FFF5E1) !important;
}
