{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block allauth_content %}
    <div class="mb-4">
        <h1 class="text-lg font-retro text-retro-purple">{% trans "Sign Out" %}</h1>
    </div>
    
    <p class="text-xs mb-4">{% trans 'Are you sure you want to sign out?' %}</p>
    
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit" class="win-button text-xs">{% trans "Sign Out" %}</button>
    </form>
{% endblock allauth_content %}