{% extends "base.html" %} 
{% load static %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/affirmation/style.css' %}"/>
{% endblock %}

{% block window_title %} SheCanGitIt Affirmation Generator 
{% endblock %} 

{% block content %}
<div class="content">
  <div>
    <p>
      We understand that being a woman in tech isn't always easy. At times, you
      might find yourself battling imposter syndrome or doubting your own
      abilities. But you're not alone—we've got you covered.
    </p>
    <p>
      Whenever you need a little boost, use our generator to lift your spirits,
      remind yourself of your strength, and embrace your unique journey. You've
      got this, and we're here to cheer you on every step of the way!
    </p>
    <br/>
  </div>
  <div class="form-group">
    <label for="mood">Select your mood:</label>
    <select id="mood">
      <option value="discouraged">Feeling discouraged</option>
      <option value="motivated">Need motivation</option>
      <option value="confident">Confident</option>
    </select>
  </div>
  <div class="form-group">
    <label for="career-stage">Select your career stage:</label>
    <select id="career-stage">
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select>
  </div>
  <button id="generate-btn" class="win-button generate-btn">Generate Affirmation</button>
  <div class="affirmation" id="affirmation-box" style="display: none"></div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}